* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-image: url(../img/laranjas-maduras-deliciosas-em-tigela-cima-de-mesa-madeira-espaço-para-texto-213148626.jpg);
    background-size: 25%;
    background-repeat: repeat-x;
}
div {
    width: 600px;
    height: 800px;
    border: 1px solid #000;
    background-size: 25%;
    background-repeat: repeat-y;
}